 @{
 Layout = "~/Views/Shared/_Layout_Espirit.cshtml";
}

<div id="blocker">

    <div id="instructions">
      
      <span style="font-size:36px">A little game I wrote in three.js. Exit top right!</span>
      <br /><br />
      <span style="font-size:26px">Also you'll need a mouse :)</span>
      <br /><br />
      <span style="font-size:26px">Click to play</span>
      <br /><br />
      Move: WASD<br />
      Sprint: SHIFT<br />
      Look: MOUSE
    </div>

  </div> 

  <script>
    let color = "fffff"
    let _ca = document.cookie.split(';');
    if(_ca[0].includes("bkcolor")){
        color = _ca[0].replace('bkcolor=','')
    }
    console.log(color)
    $(".nav-wrapper").css("background-color", "#" + color);
    $(".brand-logo").css("background-color",  "#" + color);
    $("body").css("background-color",  "#" + color);
    $(".card-content").css("background-color",  "#" + color);
  </script>

 <script  src="js/espirit/libs/three.js"></script> 
  <script src="js/espirit/libs/GLTFLoader.js"></script>
  <script src="js/espirit/libs/PointerLock.js"></script>
  <script src="js/espirit/Player.js"></script>
  <script src="js/espirit/libs/inflate.module.min.js"></script>
  <script src="js/espirit/libs/NURBSCurve.js"></script>

  <script src="js/espirit/libs/FBXLoader.js"></script>
  <script  src="js/espirit/Keyboard.js"></script> 
  <script  src="js/espirit/espirit.js"></script> 