@{
    ViewData["Title"] = "Home Page";
}
    <link type="text/css" rel="stylesheet" href="css/pages/experience.css" />
        <div class="row center" style="padding-left: 5%; padding-right: 5%; padding-top: 8%; padding-bottom: 5%;">
            <h4>Experience</h4>
        </div>
        <div class="row" style="padding-left: 5%; padding-right: 5%; ">
            
            <ul>
                <li>
                    <div class="card z-depth-0">
                        <div class="card-content black-text">
                            <span class="card-title">Method Integration</span>
                            <blockquote >Junior Full Stack developer. Focused on React and dotnet core</blockquote>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="card z-depth-0">
                        <div class="card-content black-text">
                            <span class="card-title">MiStall Insight Inc.</span>
                            <blockquote >My first official full-time software gig!  My official title was Junior Software Engineer, but I had my hands in a lot of pots.</blockquote>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="card z-depth-0">
                        <div class="card-content black-text">
                            <span class="card-title">Evenica Corp.</span>
                            <blockquote>I interned at Evenica Corp. as a TSQL Developer.</blockquote>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="card z-depth-0">
                        <div class="card-content black-text">
                            <span class="card-title">Tomson Automotive</span>
                            <blockquote>Oil Changes, Brake jobs etc.</blockquote>
                        </div>
                    </div>

                </li>
            </ul>
        </div>