    <link type="text/css" rel="stylesheet" href="css/pages/projects.css" />
<div class="row center" style="padding-left: 5%; padding-right: 5%; padding-top: 8%; padding-bottom: 5%;">
            <h4>Projects</h4>
        </div>
        <div class="row" style="padding-left: 5%; padding-right: 5%; ">
            
            <ul>
                <li>
                    <div class="card z-depth-0">
                        <div class="card-content black-text">
                            <span class="card-title">Seize Alert</span>
                            <blockquote>Prototype mobile application using BLE wrist sensors to detect erratic movements, to be applied to epilepsy patients or falls. 
                                Built on React Native and Express.js.
                            </blockquote>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="card z-depth-0">
                        <div class="card-content black-text">
                            <span class="card-title">Patent Alert</span>
                            <blockquote>Client Management System which emails notifications based on matching patents. Written in React Web and Express.js.</blockquote>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="card z-depth-0">
                        <div class="card-content black-text">
                            <span class="card-title">silk</span>
                            <blockquote>Another python microblog using markdown to display blogposts. Upgrade in the works.</blockquote>
                        </div>
                    </div>

                </li>
                <li>
                    <div class="card z-depth-0">
                        <div class="card-content black-text">
                            <span class="card-title">text-to-thought</span>
                            <blockquote>A simple text messaging service that logs your text message where you can view it on a webpage
                                at a later date. 
                            </blockquote>
                        </div>
                    </div>

                </li>
            </ul>
        </div>